# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Environment variable files
.env
.env.*

# Logs and temporary files
*.log
*.tmp
*.bak

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Testing & coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# MyPy / Pylint / Pyright / Pyre
.mypy_cache/
.pyre/
.pyright/

